dist/*
src/mapas/*
!src/mapas/index.md
!src/mapas/animacion.md

node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

# dotenv environment variables file
.env
.env.test
.env.production
.env.backup

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Archivos específicos que vuelven a salir en VSCodium (?)
dist/newyork/index.html
dist/mapas/index.html
Notas Locales.txt
bakeit-config.json
